/* CSS reset */
*{
    margin: 0px;
    padding: 0px;
}

/* Navigatin bar */
#navbar{
    display:flex;
    align-items: center;
}

/* Navigatin bar: logo and image */

#logo{
    margin: 10px 20px;
}
/* Navigatin bar: list Style */

#logo img{
    margin: 10px 20px;
    border-radius: 10px;
    border: 2px solid white;
}
#navbar{
    position: absolute;
    align-items: center;
    /* position: relative; */
    top: 0px;
}
#navbar ul{
    display: flex;
}
#navbar::before{
    content:"";
    background-color:yellow;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: -1;
    /* opacity: 0.; */
}
#navbar ul li{
    color: #f2f2f2;
    list-style:none;
    font-size: 1.3rem;
    text-decoration: antiquewhite;
}

.item a{
    padding: 5px 13px;
    /* border-radius: 20px; */
    text-decoration:none;
    font-family: 'Baloo Bhai 2', cursive;

}
a:hover{
    color: beige;
    background-color:black;
    border-radius: 25px;
}


/* home section */
#home{
    display: flex;
    flex-direction: column;
    padding: 3px 200px;
    height: 590px;
    /* width: 100px; */
    justify-content:center;
    align-items:center;
}

#home::before{
    content:"";
    background: url('../pic3.jpg') no-repeat center center/cover;
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: .9;
}

#home h1{
     color:black;
     text-align: center;
     /* padding-left: 10px; */
     font-family: 'Baloo Bhai 2', cursive;
}
#home p{
     color:white;
     text-align: center;
     /* padding-left: 10px; */
     font-family: 'Baloo Bhai 2', cursive;
}

/* sevices section */
#services{
       margin:34px;
       display: flex;

}
#services .box{
    border: 2px solid black;
    padding: 34px;
    margin: 3px 6px;
    border-radius: 28px;
    background: #f2f2f2;
    
}

#services .box img{
   height: 200px;
   width: 200px;
   margin: auto;
   display:block;
   border-radius: 10px;
    
}

#services .box p{
    font-family: 'Baloo Bhai 2', cursive;
}


.center{
    text-align: center;
    
}

/* contact section */
#contact{
    position: relative;
}
#contact::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity:0.7;
    background: url('../pic1.jpg') no-repeat center center/cover;
}

#contact-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 34px;
}
#contact-box input,
#contact-box textarea{
    width: 100%;
    padding: 1;
    border-radius: 7px;
    font-size: 1.3rem;
}
#contact-box form{
    width: 40%;
}

#contact-box label{
    font-size: 1.3rem;
    font-family: 'Baloo Bhai 2', cursive;
}
.footer{
  /* position: fixed; */
  background:black;
  background-color: beige;
  text-align: center;
  bottom: 0px;
  left:0;
  width: 100%;
}
/* utility class  */
.h-primary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.8rem;
    padding:12px;
}

.h-secondary{
    font-family: 'Baloo Bhai 2', cursive;
    font-size: 2.8rem;
    padding:12px;
}

.btn{
    padding: 6px 20px;
    border: 2px solid white;
    background-color: orangered;
    color: white;
    margin: 20px;
    font-size: 1.6rem;
    border-radius: 20px;
    cursor: pointer;
}